# ENVIRONMENTAL
.env
dist
dist-ssr
build
node_modules
.DS_Store
*.local

# DATA, VOLUMES & GENERATIONS
db_data/
prisma/client/
api/public/

# IDEs & EDITORS
.idea
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# LOGS
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# TESTS
/coverage
/.nyc_output
